In [0]:
#Import libraries
import pandas as pd                 # package for data frame analysis
import matplotlib.pyplot as plt     # package for graphical plot
import seaborn as sns               # package for graphical plot
import numpy as np                  # package for mathematical calculation
from scipy import stats             # package for statistical calculation
import io                           # pakcage for input/output 
from google.colab import files      # package for Google drive manipulation
import geopy.distance

import warnings                     # disable warning notification (optional)
warnings.filterwarnings('ignore')
%matplotlib inline

In [0]:
#Mount the notebook into Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
#Read file train.csv into df
path = "/content/drive/My Drive/Data/train.csv"
df = pd.read_csv(path)

In [3]:
#Check if the dataset is correctly stored in df
df.head(10)

                             key  ...  passenger_count
0    2009-06-15 17:26:21.0000001  ...                1
1    2010-01-05 16:52:16.0000002  ...                1
2   2011-08-18 00:35:00.00000049  ...                2
3    2012-04-21 04:30:42.0000001  ...                1
4  2010-03-09 07:51:00.000000135  ...                1
5    2011-01-06 09:50:45.0000002  ...                1
6    2012-11-20 20:35:00.0000001  ...                1
7   2012-01-04 17:22:00.00000081  ...                1
8  2012-12-03 13:10:00.000000125  ...                1
9   2009-09-02 01:11:00.00000083  ...                2

[10 rows x 8 columns]

In [4]:
df.shape

(55423856, 8)

In [6]:
df.memory_usage().sum()/1024

3463991.125

In [0]:
#Check datatypes and data information
df.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [0]:
df.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  5.542386e+07      5.542386e+07  ...      5.542348e+07     5.542386e+07
mean   1.134505e+01     -7.250968e+01  ...      3.992068e+01     1.685380e+00
std    2.071083e+01      1.284888e+01  ...      9.633346e+00     1.327664e+00
min   -3.000000e+02     -3.442060e+03  ...     -3.547887e+03     0.000000e+00
25%    6.000000e+00     -7.399207e+01  ...      4.073403e+01     1.000000e+00
50%    8.500000e+00     -7.398180e+01  ...      4.075316e+01     1.000000e+00
75%    1.250000e+01     -7.396708e+01  ...      4.076810e+01     2.000000e+00
max    9.396336e+04      3.457626e+03  ...      3.537133e+03     2.080000e+02

[8 rows x 6 columns]

In [0]:
#Check null value
df.isnull().sum()

key                    0
fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

In [0]:
#Remove 'pickup_datetime' and null records then re-check
df = df.drop(index = df[df.dropoff_longitude.isnull()].index)
df = df.drop(columns = 'pickup_datetime')

In [0]:
df.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [0]:
# Function for calculating the distance
def Haversine(lat1,lon1,lat2,lon2, **kwarg):
  R = 6371.0088
  lat1,lon1,lat2,lon2 = map(np.radians, [lat1,lon1,lat2,lon2])

  dlat = lat2 - lat1
  dlon = lon2 - lon1
  a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2) **2
  c = 2 * np.arctan2(a**0.5, (1-a)**0.5)
  d = R * c
  return round(d,6)

In [0]:
#Calculating the feature 'distance' and check
df['distance'] = Haversine(df['pickup_latitude'],df['pickup_longitude'],df['dropoff_latitude'],df['dropoff_longitude'])

In [0]:
df.head()

                            key  fare_amount  ...  year  distance
0 2009-06-15 17:26:21.000000100          4.5  ...  2009  1.030765
1 2010-01-05 16:52:16.000000200         16.9  ...  2010  8.450145
2 2011-08-18 00:35:00.000000490          5.7  ...  2011  1.389527
3 2012-04-21 04:30:42.000000100          7.7  ...  2012  2.799274
4 2010-03-09 07:51:00.000000135          5.3  ...  2010  1.999160

[5 rows x 10 columns]

In [0]:
#Convert key to datetime to extract for information
from datetime import datetime
df['key']=pd.to_datetime(df['key'])
df['key'].head()

0   2009-06-15 17:26:21.000000100
1   2010-01-05 16:52:16.000000200
2   2011-08-18 00:35:00.000000490
3   2012-04-21 04:30:42.000000100
4   2010-03-09 07:51:00.000000135
Name: key, dtype: datetime64[ns]

In [0]:
# Extract the hour and the year into new features
df['hour']=pd.DatetimeIndex(df['key']).hour
df['year']=pd.DatetimeIndex(df['key']).year
df.head()

                            key  fare_amount  ...  hour  year
0 2009-06-15 17:26:21.000000100          4.5  ...    17  2009
1 2010-01-05 16:52:16.000000200         16.9  ...    16  2010
2 2011-08-18 00:35:00.000000490          5.7  ...     0  2011
3 2012-04-21 04:30:42.000000100          7.7  ...     4  2012
4 2010-03-09 07:51:00.000000135          5.3  ...     7  2010

[5 rows x 9 columns]

In [0]:
# Store the data into new csv
df.to_csv("/content/drive/My Drive/Data/trainmod2.csv")

# New Section